@font-face {
    font-family: 'Circular';
    src: url('/Circular/CircularStd-Medium.otf') format('opentype');
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Circular-light';
    src: url('/Circular/CircularStd-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Circular', Arial, Helvetica, sans-serif;
}

.container {
    display: flex;

}
aside, header {
    display: flex;
    background-color: black;
    color: #fff;
}

aside {
    width: 20vw;
    height: 100vh;
    position: fixed;
    padding-left: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
header {
    opacity: .95;
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: end;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .9rem;
    position: fixed;
    position: absolute;
    right: 0;
}
.logo {
    width: 10rem;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 2rem;
}

.aside-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
a {
    text-decoration: none;
    color: #fff;
}
.traco {
    color: #fff;
    font-size: 2rem;
    font-weight: lighter;
}
.login {
    color: #000;
    background-color: #fff;
    padding: 1rem 2.6rem;
    border-radius: 30px;
    font-weight: 700;
}
aside li img{
    width: 1.8rem;
}

.aside-links li a{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.gray  {
    color: #919496;
    text-decoration: none;
}

.middle {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
